<!DOCTYPE html>
<html lang="en">
<head>
  <title>HeatMap and Location Details</title>
  <meta charset="utf-8">

  <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js">script></script>
  <script src="https://d3js.org/d3.v3.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vega@4"></script>
  <script src="https://cdn.jsdelivr.net/npm/vega-lite@3.0.0-rc12"></script>
  <script src="https://cdn.jsdelivr.net/npm/vega-embed@3"></script>
  <script src="https://vega.github.io/datalib/datalib.min.js"></script>
  <link rel="stlesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/vega-tooltip@0.16.0/vega-tooltip.scss">
  <script src="https://cdn.jsdelivr.net/npm/vega-tooltip@0.16.0/build/vega-tooltip.min.js"></script>
  <style>hr, h3 {padding-bottom: 20px;}canvas {background-color: #fffff;}</style>
</head>
<body>
<div class="container">
  <div class="header">
    <ul class="nav nav-pills pull-right">
      <li class="active">
      <li><a href="/">Main page</a></li>
      <li><a href="/correlation">Correlation</a></li>
    </ul>
    <h1 align="center">Interactivity Dashboard</h1>
  </div>

    <br><br>
    <div class="charts text-center">
      <form action="/interactive" method="post">
        <select name="resolution">
          <option disabled selected value> -- select a resolution -- </option>
          <option value="daily">Daily</option>
          <option value="monthly">Monthly</option>
        </select>
        <select name="feature">
          <option disabled selected value> -- select a feature -- </option>
          <option value="AIR_TEMPERATURE">AIR_TEMPERATURE</option>
          <option value="PRECIPITATION">PRECIPITATION</option>
          <option value="SOLAR_RADIATION">SOLAR_RADIATION</option>
          <option value="SURFACE_TEMPERATURE">SURFACE_TEMPERATURE</option>
          <option value="RELATIVE_HUMIDITY">RELATIVE_HUMIDITY</option>
        </select>
        <select name="statistic">
          <option disabled selected value> -- select a statistic -- </option>
          <option value="mean">mean</option>
          <option value="max">max</option>
          <option value="min">min</option>
        </select>
        <input type="submit">
      </form>
      <h4>{{resolution}} {{statistic}} {{feature}}</h4>
    </div>

    <div class="charts text-center" style="min-width:2500;">
        <br><br>
        <div class="row">
          <div id="chart"></div>

        </div>
    </div>
  </div>




     <!--&lt;!&ndash; Render Charts &ndash;&gt;-->
    <script type="text/javascript">
       function parse(url, div) {
        var opt = {
          mode: "vega-lite",
          renderer: "svg",
          actions: false
        };
        vegaEmbed("#"+div, url, opt, function(error, result) {
          // result.view is the Vega View, url is the original Vega-Lite specification
          vegaTooltip.vegaLite(result.view, url);
        });
      }

      function sleep(ms) {
        return new Promise(resolve => setTimeout(resolve, ms));
      }

      async function update() {
        while (true) {
          await sleep(500);
            parse("/generalized_chart/{{feature}}/{{statistic}}/{{resolution}}", "chart")
        }
      }

      update();
      console.log("{{statistic}}");
    </script>

   </body>
</html>